# The default configurations for the mitosis coordinator
[coordinator]
bind = "127.0.0.1:5000"
db_url = "postgres://mitosis:mitosis@localhost/mitosis"
s3_url = "http://127.0.0.1:9000"
s3_access_key = "mitosis_access"
s3_secret_key = "mitosis_secret"
# s3_region is not set. Defeault to "mitosis"
# s3_force_path_style is not set. Default to false
# redis_url is not set. It should be in format like "redis://:mitosis@localhost"
# redis_worker_password is not set by default and will be generated randomly
# redis_client_password is not set by default and will be generated randomly
# redis_skip_acl_rules is not set. Default to false, meaning ACL rules will be applied if redis_version >= 6.0
# admin_user specifies the username of the admin user created on startup
admin_user = "mitosis_admin"
# admin_password specifies the password of the admin user created on startup
admin_password = "mitosis_admin"
access_token_private_path = "private.pem"
access_token_public_path = "public.pem"
access_token_expires_in = "7d"
heartbeat_timeout = "600s"
file_log = false
# log_path is not set. It will use the default rolling log file path if file_log is set to true

[worker]
coordinator_addr = "http://127.0.0.1:5000"
polling_interval = "3m"
heartbeat_interval = "5m"
lifetime = "7d"
# credential_path is not set
# user is not set
# password is not set
# groups are not set, default to the user's group
# tags are not set
file_log = false
# shared_log is not set, default to false. When enabled, all workers share a centralized log file with daily rotation (max 3 files)
# log_path is not set. It will use the default rolling log file path if file_log is set to true
#   - If shared_log is enabled and log_path is not set, it will use workers.log in cache directory
#   - If shared_log is disabled and log_path is not set, it will use {worker_uuid}.log in cache directory
# retain is not set, default to false

[client]
# user = "mitosis_admin"
# password = "mitosis_admin"
